
<!--# Projekt indywidualny,-->
<!--# Małgorzata Szwed-->
<!--# 2 rok-->
<!--# Nr indeksu: 69826-->
<!--# Elektroniczny system obsługi siłowni: Twoja siłownia, online-->
<!--# 16 września 2014-->
<!--#-->
<!--# Plik został zmodyfikowany/utworzony na cele uczelniane/potrzeby projektu.-->


<h1>Listing activity_record3s</h1>

<table>
  <thead>
    <tr>
      <th>Kursant</th>
      <th>Trener</th>
      <th>Dzień tygodnia</th>
      <th>Godzina rozpoczęcia</th>
      <th>Zajęcia</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activity_record3s.each do |activity_record3| %>
      <tr>
        <td><%= activity_record3.user.name %></td>
        <td><%= activity_record3.coach.name %></td>
        <td><%= activity_record3.weekday.name %></td>
        <td><%= activity_record3.start_time %></td>
        <td><%= activity_record3.activity.name %></td>
        <td><%= link_to 'Pokaż', activity_record3 %></td>
        <td><%= link_to 'Edytuj', edit_activity_record3_path(activity_record3) %></td>
        <td><%= link_to 'Usuń', activity_record3, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy wpis do planu zajęć kursanta', new_activity_record3_path %>
