
<!--# Projekt indywidualny,-->
<!--# Małgorzata Szwed-->
<!--# 2 rok-->
<!--# Nr indeksu: 69826-->
<!--# Elektroniczny system obsługi siłowni: Twoja siłownia, online-->
<!--# 16 września 2014-->
<!--#-->
<!--# Plik został zmodyfikowany/utworzony na cele uczelniane/potrzeby projektu.-->


<% provide(:active_menu, 'coaches') %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Imie i nazwisko:</strong>
  <%= @coach.name %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @coach.description %>
</p>


<p>
  <strong>Email:</strong>
  <%= @coach.email %>
</p>

<%#= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Wstecz', coaches_path %>
