<!DOCTYPE html>
<html>
<head>

  <%= render 'layouts/head_meta' %>

  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>


<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <%= render 'layouts/header' %>

      <div class="inner cover mmcontent">
        <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-default">Learn more</a>
        </p>
      </div>

      <%= render 'layouts/footer' %>

    </div>
  </div>
</div>

</body>
</html>