
<!--# Projekt indywidualny,-->
<!--# Małgorzata Szwed-->
<!--# 2 rok-->
<!--# Nr indeksu: 69826-->
<!--# Elektroniczny system obsługi siłowni: Twoja siłownia, online-->
<!--# 16 września 2014-->
<!--#-->
<!--# Plik został zmodyfikowany/utworzony na cele uczelniane/potrzeby projektu.-->


<!DOCTYPE html>
<html>
<head>

  <%= render 'layouts/head_meta' %>

  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>


<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <%= render 'layouts/header' %>

      <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>

      <div class="inner cover mmcontent">
      <%= yield %>
      </div>

      <%= render 'layouts/footer' %>

    </div>
  </div>
</div>

</body>
</html>